# Models and weights
*.bin
*.pt
*.pth
*.safetensors
*.jinja
*.gguf
*.ckpt

# Checkpoints model folders
**/checkpoint-*/
**/checkpoints/

# Data folder
**/data/

# Virtual environments and cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
jupyter_env/
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Env variables
.env
*.env
